.field {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;

  @media (max-width: 49em) {
    row-gap: 3rem;
  }

  textarea {
    height: 14.3rem;

    @media (max-width: 49em) {
      height: 38.3rem;
    }
  }

  // .field__subtitle

  &__subtitle {
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 150%;

    @media (max-width: 49em) {
      font-size: 3rem;
    }
  }

  // .field__input

  &__input {
    padding: 1.8rem 1.6rem;

    height: 5.2rem;
    border-radius: 0.3rem;
    background-color: #e4e4e4;

    font-weight: 400;
    font-size: 1.3rem;

    @media (max-width: 49em) {
      padding: 2rem 3rem;

      height: 11rem;
      border-radius: 0.6rem;

      font-size: 2.5rem;
    }
  }
}
