.header {
  position: fixed;
  z-index: 10;
  top: 0.8rem;

  padding: 0 0.9rem;

  width: 100%;

  font-weight: 400;

  // .header__container

  &__container {
    position: relative;
    z-index: 2;

    padding: 0 3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7.2rem;
    border-radius: 0.3rem;
    box-shadow: 0 0.8rem 2.4rem rgba(149, 157, 165, 0.2);

    background-color: #ffffff;

    @media (max-width: 49em) {
      height: 13rem;

      .header__nav,
      .header__lang {
        position: absolute;

        opacity: 0;
        visibility: hidden;
      }
    }
  }

  // .header__menu-btn

  &__menu-btn {
    display: inline-flex;
    flex-direction: column;

    @media (min-width: 49.01em) {
      display: none;
    }
    span {
      margin: 0.8rem 0;

      width: 7rem;
      height: 2px;

      background-color: var(--c-primary);

      transition: 0.4s;

      &:nth-child(2) {
        margin-left: auto;

        width: 4rem;

        ._show-menu & {
          opacity: 0;
        }
      }
      &:nth-child(1) {
        ._show-menu & {
          transform: rotate(-45deg) translate(-1.4rem, 1.6rem);
        }
      }
      &:nth-child(3) {
        ._show-menu & {
          transform: rotate(45deg) translate(-1.2rem, -1.6rem);
        }
      }
    }
  }

  // .header__nav

  &__nav {
    display: flex;
    column-gap: 3.5rem;

    @media (max-width: 49em) {
      margin-bottom: 4rem;

      flex-direction: column;
      align-items: flex-start;
      row-gap: 3rem;
    }
  }

  // .header__link

  &__link {
    transition: opacity 0.5s ease-in-out;

    &._is-active {
      opacity: 0.5;
    }

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.5;
      }
    }

    @media (max-width: 49em) {
      font-size: 6rem;
      line-height: 100%;
    }
  }

  // .header__logo

  &__logo {
    width: 32.6rem;

    @media (min-width: 49.01em) {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 15.6rem;

      transform: translate(-50%, -50%);
    }
  }

  // .header__logo-img

  &__logo-img {
  }

  // .header__lang

  &__lang {
    display: flex;
    align-items: center;
    column-gap: 2rem;

    @media (max-width: 49em) {
      column-gap: 4rem;
    }
  }

  // .header__lang-item

  &__lang-item {
    position: relative;

    &:not(:last-child) {
      &::after {
        content: '|';

        position: absolute;
        top: 50%;
        right: -1rem;

        transform: translateY(-50%);

        @media (max-width: 49em) {
          right: -2rem;
        }
      }
    }
  }

  // .header__lang-input

  &__lang-input {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    appearance: none;
  }

  // .header__lang-txt

  &__lang-txt {
  }
}

.menu {
  position: fixed;
  inset: 0;

  padding-top: 23rem;

  overflow: auto;

  background-color: #ffffff;

  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out,
    transform 0.5s ease-in-out;

  &:not(._show-menu &) {
    opacity: 0;
    visibility: hidden;
    transform: translateX(110%);
  }

  @media (min-width: 49.01em) {
    display: none;
  }

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }
}
